<header>
  <div class="topHead theme1">
    <div class="container">
      <div class="right-head">
        <div class="icon"><span> </span></div>
        <ul class="dropdown smsEmail"> 
          <li><a href="tel:{{ isCenterType ? '+630-877-8906' : '+1(515)978-1220' }}"><i class="fa fa-phone"></i> {{ isCenterType ? '+630-877-8906' : '+1(515)978-1220' }}</a></li>
          <li><a href="mailto:{{ isCenterType ? 'info@eehp.us' : 'info@mindzonelearning.com' }}"><i class="fa fa-phone"></i> {{ isCenterType ? 'info@eehp.us' : 'info@mindzonelearning.com' }}</a></li> 
          <li class="fr ms-1">
            <a class="login_bt" role="button" (click)="logout()">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
          <li class="fr"><a>Welcome to <span>{{ getData('custName') }} - {{ getData('custCenter') }}</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg fixer">
    <div class="container"> 
      <a class="navbar-brand" routerLink="/home"><img [src]="isCenterType? './assets/images/eehp.png' : './assets/images/logo.png'" alt="Logo"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop"
        aria-controls="navbarTop" aria-expanded="false"><span class="fa fa-bars"></span></button>
      <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Home</a></li>

          <!--<li class="nav-item"><a class="nav-link" routerLink="/email" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Email Send</a></li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Student
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/register" routerLinkActive="active">Student Register</a></li>
              <li><a class="dropdown-item" routerLink="/view" routerLinkActive="active">Student List</a></li>
              <li><a class="dropdown-item" routerLink="/reminders" routerLinkActive="active">Reminders</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Student Feedback
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/studentFeedback" routerLinkActive="active">Student Feedback</a>
              </li>
              <li><a class="dropdown-item" routerLink="/feedbackDisplay" routerLinkActive="active">View Student
                  Feedback</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown">
              Worksheet
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/newWorksheet" routerLinkActive="active">New Worksheet</a></li>
              <li><a class="dropdown-item" routerLink="/worksheetList" routerLinkActive="active">Worksheet List</a></li>
              <li><a class="dropdown-item" routerLink="/weeklyWorksheet" routerLinkActive="active">Weekly Worksheet</a>
              </li>
              <li><a class="dropdown-item" routerLink="/createWeeklyWorksheets" routerLinkActive="active">Create Weekly
                  Worksheet</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown" *ngIf="isadmin">
            <a class="nav-link dropdown-toggle" id="navbarDropdown">Teacher</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/add-teacher">Teacher Register</a></li>
              <li><a class="dropdown-item" routerLink="/list-teacher">Teacher List</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>