<footer> 
    <div class="theme1 ftBtm">
     <div class="container">
      <div class="text-center">Copyright ©2023, All Rights Reserved. <a href="#">MindZone Learning</a></div>
       <!--<div class="row row-cols-1 row-cols-sm-2">
       <div class="col">Copyright ©2023, All Rights Reserved. <a href="#">MindZone Learning</a></div>
        <div class="col d-flex justify-content-end">Developed and Managed by <a href="#"> MindZone IT Solution</a></div>
      </div> 	-->
     </div>
    </div>
  </footer>