<div class="container">
    <div class="innerPage">
        <div class="innerCont">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="rgs_frm" *ngIf="showForm">
                        <div class="page_title">
                            <h2>Email <span>Send</span></h2>
                        </div>

                          
                        <form action="javascritp:void(0)" [formGroup]="form" (submit)="send()">
                            <div class="row">
                                <div class="form-group">
                                    <label for="form_email" class="form-label">Email ID</label> 
                                    <input type="text" class="form-control" id="form_email" name="form_email"
                                        placeholder="Enter email" [value]="getEmails()" readonly> 
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="form-label">Subject</label>
                                    <input type="text" class="form-control" id="subject" name="subject"
                                        placeholder="Enter Subject" formControlName="subject">
                                </div>
                                <div class="form-group">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea class="form-control" rows="5" id="message" name="message"
                                        placeholder="Enter Message" formControlName="message"></textarea>
                                </div>
                            </div>
                            <div class="text-center mt-2">
                                <button class="btn rgst_btn w-100" type="submit"> Submit </button>
                            </div>
                        </form> 

                    </div>


                    <div *ngIf="showThanksMessage" style="border:solid 1px #ddd;padding:30px;text-align:center;font-size: 22px;color:green;">
                            <img src="../../assets/images/source.gif">
                        <p>Thanks for sending the email!</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
 