<div class="container">
    <div class="innerPage">
        <div class="page_title2">
            <h2>Reminder <span>List</span></h2>
        </div>

        <form #contactForm="ngForm" novalidate>
            <div class="row mb-3">
              <div class="form-group col-6">
                <button class="btn btn-primary btn-sm" (click)="readActiveNotes()" name="studentStatus"> Active Notes </button>
                <button class="btn btn-success btn-sm ms-2" (click)="readInActiveNotes()" name="studentStatus"> Old Notes</button>
       
              </div>
            </div>
          </form>

        <div class="innerCont">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Student Name</th>
                        <th>Note</th>
                        <th>Date</th>
                        <th>Resolve</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of StudentNotes">
                        <td>{{student.studentId}}</td>
                        <td>{{student.studentName}}</td>
                        <td>{{student.reminderDate}}</td>
                        <td>{{student.comments}}</td>
                        <td>
                              <button (click)="deleteRemindersById(student.studentId)" class="btn btn-danger ms-2"><b
                                            class="fa fa-trash"></b></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>