<div class="container">
  <div class="innerPage">
    <div class="innerCont">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="rgs_frm">
            <div class="page_title">
              <h2>Student <span>Feedback</span></h2>
            </div>
            <div class="row">
              <div class="form-group col-12">  
                <label for="sName">Select Student Name <span>*</span></label>
                <select class="form-select" name="sName" [(ngModel)]="filterWorksheet" required #sName="ngModel">
                  <option selected>Select student</option>
                  <option *ngFor="let student of students">{{student.studentName}}</option>
                </select>
                <div *ngIf="!sName?.valid && (sName?.dirty || sName?.touched)" class="_error">
                  <div *ngIf="sName.errors?.['required']">Select student is required</div>
                </div>
              </div>
            </div>
            <form #contactForm="ngForm" novalidate>
              <div class="row">
                <div class="form-group col-8">
                  <label for="studentName"> Student Name <span>*</span></label>
                  <input class="form-control" disabled type="text" value="{{filterWorksheet}}" id="studentName"
                    [(ngModel)]="studentFeedBack.studentName" name="studentName" />
                </div>
                <div class="form-group col-4">
                  <label for="studentId"> Student ID <span>*</span></label>
                  <input class="form-control" disabled type="text" value="{{filterWorksheet}}" id="studentId"
                    [(ngModel)]="studentFeedBack.studentId" name="studentId" />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12">
                  <label for="teacherName"> Teacher Name <span>*</span></label>
                  <input class="form-control" type="text" id="teacherName" [(ngModel)]="studentFeedBack.teacherName"
                    name="teacherName" placeholder="Enter Teacher Name" required #teacherName="ngModel" />

                  <div *ngIf="!teacherName?.valid && (teacherName?.dirty || teacherName?.touched)" class="_error">
                    <div *ngIf="teacherName.errors?.['required']">Teacher Name is required</div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="form-group col-12">
                  <label for="noOfWorksheet"> Number of worksheet completed <span>*</span></label>
                  <input class="form-control" type="text" id="noOfWorksheet"
                    [(ngModel)]="studentFeedBack.noOfWorksheets" name="noOfWorksheet"
                    placeholder="Number of worksheet completed"  required #noOfWorksheet="ngModel" />

                    <div *ngIf="!noOfWorksheet?.valid && (noOfWorksheet?.dirty || noOfWorksheet?.touched)" class="_error">
                      <div *ngIf="noOfWorksheet.errors?.['required']">Number of worksheet is required</div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12">
                  <label for="comments"> Comments <span>*</span></label>
                  <input class="form-control" type="text" size="50" id="comments" [(ngModel)]="studentFeedBack.comments"
                    name="comments" placeholder="Enter Comments" />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12">
                  <label for="worksheetType"> Worksheet Type <span>*</span></label>
                  <select class="form-select" id="worksheetType" name="worksheetType"
                    [(ngModel)]="studentFeedBack.worksheetsType" required #worksheetType="ngModel">
                    <option selected>Select Worksheet Type</option>
                    <option value="Just Right">Just Right</option>
                    <option value="Easy">Easy</option>
                    <option value="Hard">Hard</option>
                  </select> 

                  <div *ngIf="!worksheetType?.valid && (worksheetType?.dirty || worksheetType?.touched)" class="_error">
                    <div *ngIf="worksheetType.errors?.['required']">Worksheet Type is required</div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-2">
                <button class="btn rgst_btn w-100" type="submit" (click)="wsSubmit(studentFeedBack)"
                  [disabled]="!contactForm.valid"> Submit Feedback</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>