<div class="container">
    <div class="innerPage">
      <div class="innerCont">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="rgs_frm">
              <div class="page_title">
                <h2>Teacher <span>Update</span></h2>
              </div>
  
  
              <form #contactForm="ngForm" novalidate>
                <div class="row">
  
                  <div class="form-group">
                    <label for="teacherName"> Teacher Name <span>*</span></label>
                    <input type="text" class="form-control" id="teacherName" [(ngModel)]="teacherRegister.teacherName"
                      name="teacherName" placeholder="Enter Teacher Name" required/>
                  </div>
  
                  <div class="form-group col-6">
                    <label for="teacherEmail"> Email <span>*</span></label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="teacherRegister.email" name="email"
                      placeholder="mzit@gmail.com" required />
                  </div>
                  <div class="form-group col-6">
                    <label for="phoneNumber"> Phone Number <span>*</span></label>
                    <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="teacherRegister.phoneNumber"
                      name="phoneNumber" placeholder="000-000-0000" required/>
                  </div>
                  <div class="form-group">
                    <label for="teacherEmail"> Password <span>*</span></label>
                    <input type="password" placeholder="Password" class="form-control" id="password"
                      [(ngModel)]="teacherRegister.password" name="password" required/>
                  </div>
  
  
                  <div class="form-group col-6">
                    <label for="center"> Center <span>*</span></label>
                    <select name="center" class="form-select" id="center" [(ngModel)]="teacherRegister.center" required>
                      <option value="Waukee">Waukee</option>
                      <option value="Downtown">Downtown</option>
                      <option value="Chicago">Chicago</option>
                    </select> 
                  </div>
  
                  <div class="form-group col-6">
                    <label for="center"> User Type <span>*</span></label>
                    <select name="type" id="type" [(ngModel)]="teacherRegister.type" class="form-select"
                      [(ngModel)]="teacherRegister.type" required>
                      <option value="Admin">Admin</option>
                      <option value="Teacher">Teacher</option>
                    </select> 
                  </div>
  
  
  
                  <div class="form-group">
                    <label for="address"> Address</label>
                    <input type="text" class="form-control" id="address" [(ngModel)]="teacherRegister.address"
                      name="address" placeholder="Enter Address" required />
                  </div>
  
                  <div class="form-group">
                    <label> Start Date <span>*</span></label>
                    <input type="date" class="form-control" id="startDate" [(ngModel)]="teacherRegister.startDate"
                      name="startDate" placeholder="mm-dd-yyyy" required/>
                  </div>
  
                </div>
                <div class="text-center mt-2">
                  <button class="btn rgst_btn w-100" type="submit"> Teacher Student</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>