<div class="container">
  <div class="innerPage">
    <div class="page_title2">
      <h2>Teacher <span>Register</span></h2>
    </div>
    <div class="innerCont">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Teacher Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let teacher of teacherRegisters">
            <td>{{teacher.teacherName}}</td>
            <td>{{teacher.email}}</td>
            <td>{{teacher.phoneNumber}}</td>
            <td>{{teacher.address}}</td>
            <td>
                <button (click) = "delete(teacher.email)" class="btn btn-danger ms-3"><b class="fa fa-trash"></b></button>
            </td>
                </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>