<div class="card col-md-6 offset-md-3 offset-md-3">
    <hr />

<form  >
<div class="list_header">
<div class="form-group">

</div>
<div class="form-group">
  <label>Student Name: </label><input type="text"   id="studentName" [(ngModel)]="worksheet.studentName"  name="studentName"/>
  </div>
  <div class="form-group">
    <label>Grade: </label><input type="text"  id="grade" [(ngModel)]="worksheet.grade"  name="grade"/>
    </div>
    <div class="form-group">
        <label>Week Date: </label><input type="text"  id="weekDate" [(ngModel)]="worksheet.weekDate"  name="weekDate"/>
        </div>
    
<div class="form-group">
<label>Worksheet: </label><input type="text"  id="worksheet" [(ngModel)]="worksheet.worksheet"  name="extraWorksheet"/>
</div>
<div class="form-group">
<label>Extra Worksheet: </label><input type="text"   size="50" id="extraWorksheet" [(ngModel)]="worksheet.extraWorksheet"  name="extraWorksheet"/> </div>
</div>
<div class="text-center mt-2">
    <button class="btn rgst_btn w-100" type="submit" (click)="wsSubmit(worksheet)" >Submit</button>
  </div>
</form>
</div>


