<div class="container">
  <div class="innerPage">
    <div class="page_title2">
      <h2>Students <span>List</span></h2>
    </div>
    <div class="innerCont">
      <p>{{message}}</p>

      <form #contactForm="ngForm" novalidate>
        <div class="row mb-3">
          <div class="form-group col-6">
            <button class="btn btn-primary btn-sm" (click)="setStudentStatus('Active')" name="studentStatus"> Active Students </button>
            <button class="btn btn-success btn-sm ms-2" (click)="setStudentStatus('NEW')" name="studentStatus"> New Students</button>
            <button class="btn btn-warning btn-sm ms-2" (click)="setStudentStatus('Paused')" name="studentStatus"> Paused Students</button>
          </div>
        </div>
      </form>

      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Student Name</th>
            <th>Parents Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Grade</th>
            <th>Address</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Subjects</th>
            <th>Days</th>
            <th>Status</th>
            <th>Add Note</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let student of students | filter:studentStatus">
            <td><input type="checkbox" name="studentId" value="{{student.studentId}}"> {{student.studentId}}</td>
            <td>{{student.studentName}}</td>
            <td>{{student.parentsName}}</td>
            <td>{{student.email}}</td>
            <td>{{student.phoneNumber}}</td>
            <td>{{student.grade}}</td>
            <td>{{student.address}}</td>
            <td>{{student.startDate}}</td>
            <td>{{student.endDate}}</td>
            <td>{{student.subjects}}</td>
            <td>{{student.days}}</td>
            <td>{{student.status}}</td>
            <td>
              <button data-bs-toggle="modal" (click)="setData(student.studentId,student.studentName)"
                data-bs-target="#studentNotes" class="btn btn-danger ms-3"> Add</button>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button (click)="update(student.studentId)" class="btn btn-primary"><b class="fa fa-edit"></b></button>
                <button (click)="deleteById(student.studentId)" class="btn btn-danger"><b
                    class="fa fa-trash"></b></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>


<div class="modal fade" id="studentNotes" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Student Note1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form #contactForm="ngForm" novalidate>

          <div class="row">
            <div class="row">
              <div class="form-group col-8">
                <label for="studentName"> Student Name </label>
                <input type="text" class="form-control" id="studentName" [(ngModel)]="studentNotes.studentName"
                  name="studentName" value="{{studentName_new}}" readonly />
              </div>
              <div class="form-group col-4">
                <label for="studentId"> Student ID </label>
                <input type="text" class="form-control" id="studentId" [(ngModel)]="studentNotes.studentId"
                  name="studentId" value="{{studentId_new}}" readonly />
              </div>
            </div>

            <div class="form-group">
              <label for="teacherEmail"> Comments <span>*</span></label>
              <input type="textarea" mdInput class="form-control" id="comments" size="60"
                [(ngModel)]="studentNotes.comments" name="comments" />
            </div>


            <div class="form-group">
              <label> Start Date <span>*</span></label>
              <input type="date" class="form-control" id="reminderDate" [(ngModel)]="studentNotes.reminderDate"
                name="reminderDate" placeholder="mm-dd-yyyy" required #reminderDate="ngModel" />

              <div *ngIf="!reminderDate?.valid && (reminderDate?.dirty || reminderDate?.touched)" class="_error">
                <div *ngIf="reminderDate.errors?.['required']">Date is required</div>
              </div>
            </div>

          </div>
          <div class="text-center mt-2">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary" type="submit" (click)="wsSubmit(studentNotes)"> Add Reminder
            </button>
          </div>
          {{message}}
        </form>

      </div>

    </div>
  </div>
</div>