<div class="container">
  <div class="innerPage">
    <div class="page_title2">
      <h2>Worksheet <span>List</span></h2>
    </div>
    <div class="form-group col-7 mb-4">
      <form #contactForm="ngForm" novalidate>
        <div class="row">
          <div class="col-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Date</span>
              <select name="selectState" id="selectWeek" [(ngModel)]="selectWeek" name="selectWeek"
                (change)="weekDateClick()">
                <option value="Select">Weekly Date</option>
                <option *ngFor="let month of worksheetsMonth, let i = index">{{month}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group">
              <span class="input-group-text"><b class="fa fa-search"></b></span>
              <input type="text" class="form-control" placeholder="Search Student" name="filterText"
                [(ngModel)]="filterText">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div>{{message}}</div>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>SR</th>
          <th>Student Name</th>
          <th>Grade</th>
          <th>WeekDate</th>
          <th>ExtraWorksheet</th>
          <th>Worksheets Name </th>
          <th>Worksheets </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let worksheet of worksheetsList | filter:filterText | paginate: { itemsPerPage: 5, currentPage:p}">
          <td>{{worksheet.studentName}}</td>
          <td>{{worksheet.grade}}</td>
          <td>{{worksheet.weekDate}}</td>
          <td>{{worksheet.extraWorksheet}}</td>
          <td>{{worksheet.worksheet}}</td>
          <td> <a href="../../assets/worksheet_doc_file/wajid.docx"> worksheet </a></td>
          <td>
            <button class="btn btn-primary" (click)="addToCart(worksheet)" data-bs-toggle="modal"
              data-bs-target="#pdf_file_view">Start Class</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
  </div>


  <div class="modal fade" id="pdf_file_view" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header"> 
          <div *ngIf="productList.length == 0">0 Student </div>
          <div *ngIf="productList.length == 1">{{productList.length}} Student</div>
          <div *ngIf="productList.length > 1">{{productList.length}} Student</div>
          <div class="text-danger ms-3" *ngIf="errorItem"> You have already this student. </div> 
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding:0;">

          <div class="popup_box_view">
            <div class="chat_room">
              <div class="chat_hed">
                <input type="text" class="form-control" name="filterText" id="filterText"
                  placeholder="Search Student Name" [(ngModel)]="filterText">
              </div>
              <div class="chat_list" *ngFor="let worksheet of worksheetsList | filter:filterText">
                <div>Name: <span>{{worksheet.studentName}}</span></div>
                <div>Class: <span>{{worksheet.grade}}</span></div>
                <div class="bt_box_01">
                  <button class="btn btn-primary" (click)="addToCart(worksheet)">Start Class</button>
                </div>
              </div>
            </div>
            <div class="tab_body">
              <div class="tabs">
                <div class="tab" *ngFor="let cart of productList; let i = index">
                  <input type="radio" name="css-tabs" id="{{i+1}}" checked class="tab-switch">
                  <label for="{{i+1}}" class="tab-label"> {{cart.studentName}} <span title="Close"
                      (click)="removeItem(cart)"><img src="../../assets/images/close-icon.png"></span></label>
                  <div class="tab-content">



                    <ul class="border nav nav-pills nav-justified mt-3 mb-3" id="ex1" role="tablist">
                      <li class="nav-item" role="presentation"><a class="nav-link active" id="ex3-tab-1" data-bs-toggle="tab" href="#ex3-tabs-1" role="tab" aria-controls="ex3-tabs-1" aria-selected="true">Worksheet</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" id="ex3-tab-2" data-bs-toggle="tab" href="#ex3-tabs-2" role="tab" aria-controls="ex3-tabs-2" aria-selected="false">AnswerSheet</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" id="ex3-tab-3" data-bs-toggle="tab" href="#ex3-tabs-3" role="tab" aria-controls="ex3-tabs-3" aria-selected="false">Other Worksheet</a></li>
                    </ul>
                    
                      <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel" aria-labelledby="ex3-tab-1">
                        <ngx-doc-viewer [url]="'https://podcasts.ceu.edu/sites/podcasts.ceu.edu/files/sample.doc'"
                    viewer="office" style="width:100%;height:80vh;"></ngx-doc-viewer>
                      </div>
                      <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                        <ngx-doc-viewer
                    [url]="'https://www.antennahouse.com/hubfs/xsl-fo-sample/pdf/basic-link-1.pdf'" viewer="google" style="width:100%;height:80vh;"
                    ></ngx-doc-viewer>
                      </div>
                      <div class="tab-pane fade" id="ex3-tabs-3" role="tabpanel" aria-labelledby="ex3-tab-3">
                        <ngx-doc-viewer [url]="'https://podcasts.ceu.edu/sites/podcasts.ceu.edu/files/sample.doc'"
                    viewer="office" style="width:100%;height:80vh;"></ngx-doc-viewer>
                      </div>
                    
                     
                          
 
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>