<div class="container">
  <div class="innerPage">
    <div class="page_title2">
      <h2>Worksheet <span>List</span></h2>
    </div>
    <div class="form-group col-7 mb-4">
      <form #contactForm="ngForm" novalidate>
        <div class="row">
          <div class="col-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Date</span>
              <select name="selectState" id="selectWeek" [(ngModel)]="selectWeek" name="selectWeek"  (change)="weekDateClick()">  
                <option value="Select">Weekly Date</option>
                <option *ngFor="let month of worksheetsMonth, let i = index">{{month}}</option>
             </select>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group">
              <span class="input-group-text"><b class="fa fa-search"></b></span>
              <input type="text" class="form-control" placeholder="Search Student" name="filterText" [(ngModel)]="filterText">
            </div>
          </div> 
          <div class="form-group col-4">
            <button class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#pdf_file_view">{{totalClass}} Class Start</button>
          </div>

        </div>
      </form>
    </div>
    <div>{{message}}</div>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Student Name</th>
          <th>Grade</th>
          <th>WeekDate</th>
          <th>ExtraWorksheet</th>
          <th>Worksheets Name </th>
          <th>Worksheets </th>
          <th>Action </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let worksheet of worksheetsList  | filter:filterText">
          <td>{{worksheet.studentId}}</td>
          <td>{{worksheet.studentName}}</td>
          <td>{{worksheet.grade}}</td>
          <td>{{worksheet.weekDate}}</td>
          <td>{{worksheet.extraWorksheet}}</td>
          <td>{{worksheet.worksheet}}</td>
          <td> <a href="../../assets/worksheet_doc_file/wajid.docx" > worksheet </a></td>
          <td>
            <button (click)=addClass(worksheet) class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pdf_file_view">Start Class</button> 
          </td>
        </tr>
      </tbody>
    </table>
 

 
 

  </div>

  
  
  <div class="modal fade" id="pdf_file_view" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Class Start - <span>{{totalClass}}</span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding:0;">
        
          <div class="popup_box_view">
            <div class="chat_room">
              
              <div class="chat_hed">
                
                <input type="text" class="form-control" name="filterText" id="filterText" placeholder="Search Student Name" [(ngModel)]="filterText">

              </div>
<div class="chat_list" *ngFor="let worksheet of worksheetsList  | filter:filterText"> 
  <div>Name: <span>{{worksheet.studentName}}</span></div>  
  <div>Class: <span>{{worksheet.grade}}</span></div>   
  <div class="bt_box_01">
    <button (click)="addClass(worksheet)" class="btn btn-primary"><b class="fa fa-plus"></b></button> 
    <button (click)="removeClass(worksheets.studentId)" class="btn btn-danger ms-1"><b class="fa fa-trash-o"></b></button>
  </div>   
</div>
            </div>
          <div class="tab_body">
            <div class="tabs">
              <div class="tab" *ngFor="let item of classStart; let i = index">
                <input type="radio" name="css-tabs" id="{{i+1}}" checked class="tab-switch">
                <label for="{{i+1}}" class="tab-label">{{item.studentName}}</label>
                <div class="tab-content">
                  {{item.worksheet}}
                  
                  <ngx-doc-viewer
                  [url]="'https://podcasts.ceu.edu/sites/podcasts.ceu.edu/files/sample.doc'" viewer="office" style="width:100%;height:80vh;"
                  ></ngx-doc-viewer>
                  
                  <!--<ngx-doc-viewer
                  [url]="'https://www.antennahouse.com/hubfs/xsl-fo-sample/pdf/basic-link-1.pdf'" viewer="google" style="width:100%;height:80vh;"
                  ></ngx-doc-viewer>--> 

                </div>
              </div>
            </div>
          </div>
        </div>
 
          
        </div>
      </div>
    </div>
  </div>
  