.form{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.update_header{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 350px;
}

.heading{

    display: flex;
    flex-direction: row;
}
.home_button{
    display: flex;
    flex-direction: column;
}


