<div class="container">
    <div class="innerPage">
        <div class="page_title2">
            <h2>Students Feedback <span>List</span></h2>
        </div>
        <div class="innerCont">
            <table class = "table table-striped table-hover table-bordered"> 
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Student Name</th>
                        <th>Teacher Name</th>
                        <th>Worksheets Type </th>
                        <th>noOfWorksheets</th>
                        <th>Comments</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let studentFeedBack of studentFeedBacks">
                        <td>{{studentFeedBack.studentId}}</td>
                        <td>{{studentFeedBack.studentName}}</td>
                        <td>{{studentFeedBack.teacherName}}</td>
                        <td>{{studentFeedBack.worksheetsType}}</td>
                        <td>{{studentFeedBack.noOfWorksheets}}</td>
                        <td>{{studentFeedBack.comments}}</td>
                        <td>
                            <button class="btn btn-success ms-3"><b class="fa fa-edit"></b></button>
                            <button class="btn btn-danger ms-3"><b class="fa fa-trash"></b></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>