<div class="container">
  <div class="innerPage">
    <div class="innerCont">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="rgs_frm">
            <div class="page_title">
              <h2>MindZone Student <span>Registration</span></h2>
            </div>  

            <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Success!</strong> Student Registered Successfully
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form #contactForm="ngForm" novalidate>
              <div class="row">
                 
                <div class="form-group col-6">
                  <label for="studentName"> Student Name <span>*</span></label>
                  <input type="text" class="form-control" id="studentName" [(ngModel)]="student.studentName" name="studentName" placeholder="Enter student name" required minlength="5" #studentName="ngModel"/> 

                  <div *ngIf="!studentName?.valid && (studentName?.dirty || studentName?.touched)" class="_error">
                    <div *ngIf="studentName.errors?.['required']">First Name is required</div>
                    <div *ngIf="studentName.errors?.['minlength']">Minimum Length is {{studentName.errors?.['minlength']?.requiredLength}}
                    </div>
                 </div>

                </div> 

                <div class="form-group col-6">
                  <label> Grade <span>*</span></label>
                  <input type="text" class="form-control" id="grade" [(ngModel)]="student.grade" name="grade" placeholder="1/2/3/4/5" required #grade="ngModel"/> 

                  <div *ngIf="!grade?.valid && (grade?.dirty || grade?.touched)" class="_error">
                    <div *ngIf="grade.errors?.['required']">Grade is required</div> 
                 </div>

                </div> 

                <div class="form-group">
                  <label for="parentsName">Parent Name <span>*</span></label>
                  <input type="text" class="form-control" id="parentsName" [(ngModel)]="student.parentsName" name="parentsName" placeholder="Enter parents name" required minlength="5" #parentsName="ngModel"/> 

                  <div *ngIf="!parentsName?.valid && (parentsName?.dirty || parentsName?.touched)" class="_error">
                    <div *ngIf="parentsName.errors?.['required']">Parent Name is required</div>
                    <div *ngIf="parentsName.errors?.['minlength']">Minimum Length is {{parentsName.errors?.['minlength']?.requiredLength}}
                    </div>
                 </div>
                </div>
              
                <div class="form-group col-6">
                  <label for="email"> Email <span>*</span></label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="student.email" name="email" placeholder="mzit@gmail.com" required #email="ngModel"/> 

                  <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="_error">
                    <div *ngIf="email.errors?.['required']">Email ID is required</div>
                 </div>
                </div>
                <div class="form-group col-6">
                  <label for="phoneNumber"> Phone Number <span>*</span></label>
                  <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="student.phoneNumber" name="phoneNumber" placeholder="000-000-0000"  required #phoneNumber="ngModel"/> 

                  <div *ngIf="!phoneNumber?.valid && (phoneNumber?.dirty || phoneNumber?.touched)" class="_error">
                    <div *ngIf="phoneNumber.errors?.['required']">Phone Number is required</div>
                 </div>
                </div>

                <div class="form-group">
                  <label for="address"> Address (if shipping material) <span>*</span></label>
                  <input type="text" class="form-control" id="address" [(ngModel)]="student.address" name="address" placeholder="Enter you address" required #address="ngModel"/> 

                  <div *ngIf="!address?.valid && (address?.dirty || address?.touched)" class="_error">
                    <div *ngIf="address.errors?.['required']">Address is required</div>
                 </div>
                </div>
                <div class="form-group">
                  <label for="amount"> Amount  <span>*</span></label>
                  <input type="text" class="form-control" id="amount" [(ngModel)]="student.amount" name="amount" placeholder="Enter you amount" required #address="ngModel"/> 
                </div>
              
                <div class="form-group">
                  <label> Start Date <span>*</span></label>
                  <input type="date" class="form-control" id="startDate" [(ngModel)]="student.startDate" name="startDate" placeholder="mm-dd-yyyy" required #startDate="ngModel"/> 

                  <div *ngIf="!startDate?.valid && (startDate?.dirty || startDate?.touched)" class="_error">
                    <div *ngIf="startDate.errors?.['required']">Date is required</div>
                 </div>
                </div>
               
                
                <div class="form-group col-6">
                  <label> Subjects </label> 
                    
                  <select class="form-control"  id="subjects" [(ngModel)]="student.subjects" name="subjects" multiple required #subjects="ngModel"> 
                    <option value="Math">Math</option>
                    <option value="English">English</option>
                    <option value="Science">Science</option>
                    <option value="Robotics">Robotics</option>
                  </select> 

                  <div *ngIf="!subjects?.valid && (subjects?.dirty || subjects?.touched)" class="_error">
                    <div *ngIf="subjects.errors?.['required']">Subjects is required</div>
                 </div>
                </div>

                <div class="form-group col-6">
                  <label> Days </label>
                  <select class="form-control"  id="days" [(ngModel)]="student.days" name="days" multiple  multiple required #days="ngModel"> 
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="N/A - material only">N/A - material only</option>
                  </select> 

                  <div *ngIf="!days?.valid && (days?.dirty || days?.touched)" class="_error">
                    <div *ngIf="days.errors?.['required']">days is required</div>
                 </div>
                </div>
              </div>
              <div class="text-center mt-2">
                <button class="btn rgst_btn w-100" type="submit" (click)="register(student)" [disabled]="!contactForm.valid"> Registration Student </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 

 